
body {
    display: block;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    letter-spacing: 0.125rem; 
    background-color: #D9D9D9;
    
    

    .encabezado {
      background-color: #645454;
      border-radius: 20px;

      h1 {

        display: flex;
        margin-left: 1rem;
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #D9D9D9;
        font-family: "Sunflower", sans-serif;
        font-size: 2.5rem;
        font-style: normal;
        
      }
      p {
        margin-left: 1rem;
        color: beige;
        margin-bottom: 1rem;
      }
    }

   p {
    margin-left: 2rem;
  }

  
  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #645454;
    font-family: Sunflower, sans-serif;
    font-size: 1.875rem;
    font-style: normal;
  }
  
  h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;color: #645454;
    font-family: Sunflower, sans-serif;
    font-size: 1.5625rem;
    font-style: normal;
  }
  
  .nav {
    text-align: right;
    display: inline-block;
    float: right;
    width: 10%;
    color: #a3a1a1;
    font-family: Sunflower;
    font-size: 1.5625rem;
    font-style: normal;
    background-color: #645454;
    border-radius: 20px;
    
    h2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: beige;
      font-family: Sunflower, sans-serif;
      font-size: 1.875rem;
      font-style: normal;
      margin-right: 2rem;
    }

    ul {
      margin-right: 2rem;
      font-family: "Source Sans Pro", sans-serif;
    }
    }
     
  
}
  